ion-content {
    --background: none;
    background-image: url('../../public/assets/background.jpeg');
    background-position: bottom center;
    background-repeat: no-repeat;
    bottom: 120px;
    background-size:contain;
    z-index: 0;
    position: relative;
}