.container {
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 160px;
  height: 100%;
  flex: 1;
  justify-content: flex-end;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-family: "PixelatedBolded";
  font-size: 9vw;
  text-align: center;
  color: black;
  -webkit-text-fill-color: black;
  margin: 0;
}

.container a {
  text-decoration: none;
}

@media only screen and (min-width: 500px) {
  .container {
    width: 160px;
  }
}
@media only screen and (min-width: 700px) {
  .container {
    width: 200px;
  }
}
@media only screen and (min-width: 900px) {
  .container {
    width: 240px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    width: 280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    width: 320px;
  }
}

.results{
  font-family: "Pixelated";
  font-size: 40px;
}

.numberContainer{
  margin-bottom: 10vh;
}

.pig{
  --background: none;
  z-index: 2;
  width: 100%;
}

.pigContainer{
  width: 100%;
  margin-bottom: -2vh;;
}

#startButtonContainer{
  width: 100%;
  position: relative;
  display: inline-block;
}

.text-box{
  position: absolute;    
  height: 100%;
  text-align: center;    
  width: 100%;
}

.text-box:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

h4 {
  display: inline-block;
  font-family: "PixelatedBolded";
  font-size: 5vw;
  text-align: center;
  color: black;
  -webkit-text-fill-color: black;
  margin: 0;
}

#startButtonContainer img{
  display: block;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "PixelatedBolded"; 
  src: url("../../public/assets/slkscrb.ttf");
}

@font-face {
  font-family: "Pixelated"; 
  src: url("../../public/assets/slkscr.ttf");
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}